*{
	box-sizing: border-box;
}
body{
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
}
button{
	background-color: #B0B0B0;
	border: none;
}

#field{
	width: 600px;
	height: 600px;
	display: grid;
	grid-template-columns: repeat(15,1fr);
	grid-template-rows: repeat(15,1fr);
	grid-gap: 2px;
	div:not(.player){
		background-color: #B0B0B0;

	}
}	
.control{
	width: 300px;
	height: 300px;
	display: grid;
	grid-template-rows: repeat(3,1fr);
	grid-template-columns: repeat(3,1fr);
}

@media (max-width: 601px) {

	#field{
		width: 300px;
		height: 300px;
	}		
	.control{
		width: 250px;
		height: 250px;
	}
}
p{
	margin: 0;
	font-size: 30px;
	color:  #B0B0B0;
}